h1{
  text-align: center;

  }
#outer{
  height: 1000px;
  width: 1000px;
  border: 1px solid;
  margin-left: 200px;
}
.inner{
  height: 125px;
  width: 1000px;
}
.white{
  height: 125px;
  width: 125px;
  background-color: white;
  float: left;
}
.black{
  height: 125px;
  width: 125px;
  background-color:black;
  float: left;
}
